#header {
    background: black;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: .5rem;
    font-size: 40px;
}

.header-title {
    font-family: 'Bebas Neue', cursive;
}